/* screen - desktop-w1440 */

.desktop-w1440 {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 5824px;
  overflow: hidden;
  padding: 25px 0;
  width: 1440px;
}

.desktop-w1440 .title {
  height: 110px;
  left: 57px;
  position: fixed;
  top: 25px;
  width: 142px;
  z-index: 4;
}

.desktop-w1440 .menu {
  background-image: url(../img/union-4@2x.png);
  background-size: 100% 100%;
  height: 44px;
  left: 1339px;
  position: fixed;
  top: 57px;
  width: 44px;
  z-index: 3;
}

.desktop-w1440 .overlap-group7 {
  height: 5359px;
  margin-left: -1px;
  margin-top: 140px;
  position: relative;
  width: 1440px;
  z-index: 2;
}

.desktop-w1440 .text-section-5 {
  left: 970px;
  letter-spacing: 0;
  position: absolute;
  top: 1832px;
  width: 180px;
}

.desktop-w1440 .text-section-6 {
  left: 969px;
  letter-spacing: 0;
  position: absolute;
  top: 1930px;
  width: 180px;
}

.desktop-w1440 .text-section-7 {
  left: 970px;
  letter-spacing: 0;
  position: absolute;
  top: 2034px;
  width: 180px;
}

.desktop-w1440 .and-container {
  height: 5277px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop-w1440 .line-and-details {
  display: flex;
  height: 5277px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop-w1440 .union {
  flex: 1;
  margin-left: 0.03%;
  margin-right: 0.03%;
  width: 1439px;
}

.desktop-w1440 .blueprint-group-and-lines {
  height: 748px;
  left: 0;
  position: absolute;
  top: 2906px;
  width: 998px;
}

.desktop-w1440 .overlap-group4 {
  height: 808px;
  left: -10px;
  position: absolute;
  top: -22px;
  width: 948px;
}

.desktop-w1440 .union-1 {
  height: 16px;
  left: 253px;
  position: absolute;
  top: 297px;
  width: 694px;
}

.desktop-w1440 .union-2 {
  height: 16px;
  left: 287px;
  position: absolute;
  top: 494px;
  width: 660px;
}

.desktop-w1440 .union-3 {
  height: 16px;
  left: 474px;
  position: absolute;
  top: 693px;
  width: 473px;
}

.desktop-w1440 .blueprint-3-d-robotic-printer-1 {
  height: 808px;
  left: 0;
  position: absolute;
  top: 0;
  width: 589px;
}

.desktop-w1440 .text-new-4 {
  left: 809px;
  letter-spacing: 0;
  position: absolute;
  top: 242px;
  width: 121px;
}

.desktop-w1440 .text-new-5 {
  left: 834px;
  letter-spacing: 0;
  position: absolute;
  top: 438px;
  width: 158px;
}

.desktop-w1440 .text-new-6 {
  left: 783px;
  letter-spacing: 0;
  position: absolute;
  top: 635px;
  width: 158px;
}

.desktop-w1440 .contact-button {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 504px;
  min-height: 179px;
  position: absolute;
  top: 5180px;
  width: 501px;
}

.desktop-w1440 .in40s-symbol-1 {
  height: 76px;
  margin-right: 71px;
  object-fit: cover;
  width: 73px;
}

.desktop-w1440 .overlap-group2 {
  background-image: url(../img/rectangle-11@2x.png);
  background-size: 100% 100%;
  height: 112px;
  margin-right: -18px;
  margin-top: 11px;
  position: relative;
  width: 527px;
}

.desktop-w1440 .text2 {
  left: 37px;
  letter-spacing: 0;
  position: absolute;
  top: 18px;
  width: 281px;
}

.desktop-w1440 .title-1 {
  height: 57px;
  left: 317px;
  position: absolute;
  top: 22px;
  width: 174px;
}

.desktop-w1440 .stats-section {
  align-items: flex-start;
  display: flex;
  height: 155px;
  left: 837px;
  min-width: 568px;
  position: absolute;
  top: 1560px;
}

.desktop-w1440 .text-section-8 {
  letter-spacing: 0;
  min-height: 155px;
  text-align: justify;
  width: 276px;
}

.desktop-w1440 .number-1 {
  color: var(--black);
  font-family: var(--font-family-thasadith);
  font-size: 144px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 89px;
  margin-left: 68px;
  margin-top: 12px;
  min-height: 89px;
  white-space: nowrap;
}

.desktop-w1440 .title-2 {
  left: 338px;
  letter-spacing: 0;
  position: absolute;
  text-align: justify;
  top: 606px;
  width: 742px;
}

.desktop-w1440 .new-champions-community-2020 {
  left: 338px;
  letter-spacing: 0;
  position: absolute;
  text-align: justify;
  top: 691px;
  width: 622px;
}

.desktop-w1440 .new-champions-are-mi {
  color: var(--black);
  font-family: var(--font-family-quicksand);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 338px;
  letter-spacing: 0;
  position: absolute;
  text-align: justify;
  top: 780px;
  width: 895px;
}

.desktop-w1440 .text2-1 {
  left: 338px;
  letter-spacing: 0;
  position: absolute;
  top: 1026px;
  width: 886px;
}

.desktop-w1440 .text2-2 {
  left: 338px;
  letter-spacing: 0;
  position: absolute;
  top: 1112px;
  width: 224px;
}

.desktop-w1440 .members-are-respecte {
  color: var(--black);
  font-family: var(--font-family-quicksand);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 339px;
  letter-spacing: 0;
  position: absolute;
  text-align: justify;
  top: 1196px;
  width: 894px;
}

.desktop-w1440 .section-1-title {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 305px;
  min-height: 281px;
  position: absolute;
  top: 201px;
  width: 346px;
}

.desktop-w1440 .number-2 {
  letter-spacing: 0;
  line-height: 89px;
  margin-right: 20px;
  min-height: 89px;
  white-space: nowrap;
  width: 220px;
}

.desktop-w1440 .professional-recognition {
  letter-spacing: 0;
  margin-right: 4px;
  margin-top: 102px;
  min-height: 90px;
  text-align: center;
  width: 342px;
}

.desktop-w1440 .section-2-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 201px;
  min-height: 281px;
  position: absolute;
  top: 1608px;
  width: 346px;
}

.desktop-w1440 .number-3 {
  letter-spacing: 0;
  line-height: 89px;
  margin-left: 58.0px;
  min-height: 89px;
  white-space: nowrap;
  width: 220px;
}

.desktop-w1440 .smart-factories-of-the-future {
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 102px;
  min-height: 90px;
  text-align: center;
  width: 342px;
}

.desktop-w1440 .section-3-title {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 664px;
  min-height: 275px;
  position: absolute;
  top: 2560px;
  width: 346px;
}

.desktop-w1440 .number-4 {
  letter-spacing: 0;
  line-height: 89px;
  margin-right: 28px;
  min-height: 89px;
  white-space: nowrap;
  width: 220px;
}

.desktop-w1440 .innovating-with-climate-tech {
  letter-spacing: 0;
  margin-right: 4px;
  margin-top: 96px;
  min-height: 90px;
  text-align: center;
  width: 342px;
}

.desktop-w1440 .section-4-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 76px;
  min-height: 281px;
  position: absolute;
  top: 4042px;
  width: 346px;
}

.desktop-w1440 .number {
  letter-spacing: 0;
  line-height: 89px;
  margin-left: 48.0px;
  min-height: 89px;
  white-space: nowrap;
  width: 220px;
}

.desktop-w1440 .creating-an-ecosystem {
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 102px;
  min-height: 90px;
  text-align: center;
  width: 342px;
}

.desktop-w1440 .graph-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 631px;
  min-height: 695px;
  position: absolute;
  top: 3945px;
  width: 672px;
}

.desktop-w1440 .overlap-group3 {
  height: 534px;
  position: relative;
  width: 696px;
}

.desktop-w1440 .image-5 {
  height: 426px;
  left: 1px;
  position: absolute;
  top: 108px;
  width: 695px;
}

.desktop-w1440 .text2-3 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 301px;
}

.desktop-w1440 .text-section-9 {
  align-self: center;
  letter-spacing: 0;
  margin-left: 2.0px;
  margin-top: 60px;
  min-height: 101px;
  width: 578px;
}

.desktop-w1440 .section-5-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 564px;
  min-height: 236px;
  position: absolute;
  top: 4880px;
  width: 346px;
}

.desktop-w1440 .place {
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 102px;
  min-height: 45px;
  text-align: center;
  width: 342px;
}

.desktop-w1440 .factory-blueprint-1 {
  height: 293px;
  left: 99px;
  object-fit: cover;
  position: absolute;
  top: 1968px;
  width: 569px;
}

.desktop-w1440 .text-container {
  height: 457px;
  left: 1099px;
  position: absolute;
  top: 2902px;
  width: 294px;
}

.desktop-w1440 .text-section-4 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: justify;
  top: 126px;
  width: 264px;
}

.desktop-w1440 .text2-4 {
  color: var(--black);
  font-family: var(--font-family-zen_kurenaido);
  font-size: 58px;
  font-weight: 400;
  left: 120px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 174px;
}

.desktop-w1440 .bottom-nav {
  align-items: center;
  align-self: center;
  display: flex;
  margin-left: 9.0px;
  margin-top: 182px;
  min-width: 745px;
  z-index: 1;
}

.desktop-w1440 .image-3 {
  height: 73px;
  object-fit: cover;
  width: 77px;
}

.desktop-w1440 .overlap-group {
  height: 49px;
  margin-left: 13px;
  margin-top: 5.8px;
  position: relative;
  width: 341px;
}

.desktop-w1440 .place-1 {
  -webkit-text-stroke: 0.2px var(--black);
  left: 0;
  letter-spacing: 1.56px;
  line-height: 29.0px;
  position: absolute;
  text-align: right;
  top: 8px;
  width: 153px;
}

.desktop-w1440 .about-us {
  -webkit-text-stroke: 0.2px var(--black);
  left: 92px;
  letter-spacing: 1.56px;
  line-height: 29.0px;
  position: absolute;
  text-align: right;
  top: 9px;
  width: 249px;
}

.desktop-w1440 .vector-6 {
  height: 47px;
  left: 25px;
  position: absolute;
  top: 0;
  width: 3px;
}

.desktop-w1440 .overlap-group1 {
  height: 41px;
  margin-left: 18px;
  margin-top: 13.6px;
  position: relative;
  width: 288px;
}

.desktop-w1440 .news {
  -webkit-text-stroke: 0.2px var(--black);
  left: 0;
  letter-spacing: 1.56px;
  line-height: 29.0px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 159px;
}

.desktop-w1440 .careers {
  -webkit-text-stroke: 0.2px var(--black);
  cursor: pointer;
  left: 39px;
  letter-spacing: 1.56px;
  line-height: 29.0px;
  position: absolute;
  text-align: right;
  top: 1px;
  width: 249px;
}
