/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* CSS reset */

html {
    max-width: 100vw; 
}

body {
    margin: 0; 
    padding: 0;
    width: 100%;  
    max-width: 100%; 
    overflow-x: hidden;
    position: relative;  
    height: calc(100% - 140vh); 
}

a {
    text-decoration: none; 
}

/* Basic Styles */

h2 {
    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: 200; 
    font-size: 2.5em; 
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700; 
}

/* Circle menu */
ul {
    list-style: none; 
    text-align: left; 
    padding-left: 0px;
    padding-top: 0px; 
    font-size: 1.7vw;
}

#circle_menu {
    display: block; 
    border-radius: 50%;
    padding: 6vw; 
    background: rgb(212,66,0);
    background: linear-gradient(90deg, rgba(212,66,0,1) 20%, rgba(255,185,45,1) 99%);

    max-width: 20vw;  
    width: 9vw; 
    height: 9vw; 
    aspect-ratio: 1/1;

    position: fixed; 
    top: -18vw;
    right: -18vw; 
    z-index: 32;
    font-family: sans-serif;
}

#circle_menu:hover {
    cursor: pointer;
}

#circle_menu li:hover {
    color:rgb(255, 255, 255); 
}

#menu_content a {
    text-decoration: none; 
    color: black; 
}

#menu_content a:hover {
    text-decoration: none; 
    color: white; 
}

.active {
    color: white !important ; 
}

.active:hover {
    color: rgb(255, 175, 172) !important; 
}

/* Hamburger Menu Icon */

#menuIcon {
    display: block; 
    padding: 0.6vw; 
    margin: 30px; 
    width: 1.8vw; 
    position: fixed; 
    top: 3vh;
    right: 3vh; 
    z-index: 31;
    border-radius: 50%;
    border: 1.34px solid black;
    background-color: rgba(255, 255, 255, 0.546);  
}

#menuIcon:hover {
    cursor: pointer; 
}

/* Opening Section */

.section1{
    position: relative;
    height: 100vh; 
    max-height: 100vh; 
    overflow: hidden; 
}

#logo {
    position: absolute;
    max-width: 536px; 
    max-height: 40vh; 
    left: 14vw;
    top: 15vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#subtitle {
    position: absolute;
    height: 5vh; 
    left: 14.5vw;
    top: 50vh;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 60px;

    color: #000000;
}

/* links on opening screen */

/* link 1 */

.group1 {
    position: absolute;
    bottom: 30vh; 
    right: 0; 

}

.text1 {
    font-family: 'Quicksand';
    font-style: normal;
    text-decoration: none; 
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 30px;
    padding-left: 1vw; 
    color: #000000;
}

.text1:hover {
    color: rgb(192, 0, 0); 
    font-weight: 600; 
}

.circle {
    border-radius: 50%; 
    width: 1vw; 
    aspect-ratio: 1/1; 
    border: 1.8px solid #000000;
    box-sizing: border-box;
}

.line {
    height: 0px; 
    border-top: 1.8px solid #000000;
    width: 20vw; 
    margin-top: -0.6vw; 
    margin-left: 0.9vw; 
}

/* link 2 */

.group2 {
    position: absolute;
    bottom: 21vh; 
    right: 0; 

}

/* link 3 */

.group3 {
    position: absolute;
    bottom: 12vh; 
    right: 0; 
   
}

/* section 2 */


.section2 {
    max-width: 100%;
    height: 300vh; 
    position: relative; 
    /* overflow: hidden; */     
}

.leftBorder {
    margin-left: 13vw; 
    border-left: 2px solid black;
    width: 5vw; 
    height: 200vh;  
    position: absolute; 
    left: 0; 
    bottom: -20vh; 
}

.subsection2 {
    position: sticky; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100vh;  
    background-color: white; 
}

.left_text {
    display: inline-block; 
    max-width: 49vw;
    width: 49vw; 
    text-align: left; 
    height: 75vh;
    margin-top: 12.5vh; 
    text-align: center; 
    /* position: sticky;
    top: 12.5vh; 
    left: 0;  */
}

#logo2 {
    width: 30%;  
    margin-bottom: 5vh;
}

#line2 {
    border-bottom: 2px solid black; 
    width: 80%; 
}

.movingText1 {
    width: 79%; 
    padding-top: 5vh;
    padding-left: 11vw; 
    box-sizing: border-box;
    font-size: 1.8vw; 
    text-align: left; 
    font-family: 'Quicksand'; 
}

.movingText2 {
    width: 40vw; 
    padding-top: 5vh;
    padding-left: 11vw; 
    box-sizing: border-box;
    font-size: 1.8vw; 
    text-align: left; 
    font-family: 'Quicksand'; 

    position: absolute; 
    top: 40vh; 
    left: 50vw; 

}

.movingText3 {
    width: 40vw; 
    padding-top: 5vh;
    padding-left: 11vw; 
    box-sizing: border-box;
    font-size: 1.8vw; 
    text-align: left; 
    font-family: 'Quicksand'; 

    position: absolute; 
    top: 40vh; 
    left: 50vw; 
}

#firstImage { 
    display: inline; 
    width: 100vw; 
    margin-top: 0px;   
    position: absolute;   
    top: 0; 
    left: 50vw;
    z-index: 10; 
}

/* Orange number section */

.orangeNumberSection { 
    position: relative; 
    background-color: rgb(255, 255, 255); 
    z-index: 30; 
    width: 100vw;
    max-width: 100vw;
    padding-left: 13vw; 
    padding-right: 13vw; 
    margin-top: -70vh; 
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    /* grid-template-rows: fit-content(1fr 1fr 1fr 1fr) !important; */
    grid-template-rows: auto; 
    margin-bottom: 0; 
}

/* sticky logo */

#stickyLogo {
    position: fixed;
    left: 3vh; 
    top: 5vh; 
    width: 7vw;
    opacity: 0; 
    z-index: 31;
}



/* number 1 section */ 

.number1 {
    background-color: rgb(255, 255, 255); 
    border-left: 2px solid black; 
    padding: 25px; 
    position: relative; 
    display: block;
    height: auto;
    padding-bottom: 60px; 
    grid-row: 1/2; 
    grid-column: 1/4; 
}

#margin {
    margin-top: 30vh;
}

.awardText {
    padding-left: 30px;
    max-width: 90%; 
    text-align: justify;
    text-justify: inter-word;
    display: block; 
}

.awardText h2 {
    margin-bottom: 0px; 
    text-align: left; 
    font-size: 3vw;
}

.awardText h3 {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 2vw;
    font-weight: 300; 
    margin: 0px;
    padding-bottom: 10px; 
}

.awardText p {
    font-size: 1.7vw;
    font-family: 'Quicksand';
}

.awardText a {
    text-decoration: none; 
    color: black;
    text-align: left; 
}

.awardText a:hover {
    text-decoration: none; 
    color: #fe7a00;
    font-weight: 600; 
}

.numberBox {
    width: 30vw;
    margin-bottom: 10vh; 
    margin-left: 30px; 
    margin-top: 10vh; 
}

.numberBox p {
    font-size: 12vw;
    color: #fe7a00;  
    padding: 0px; 
    margin: 0px; 
    text-align: left; 
    font-family: 'Quicksand';
}

.numberBox h3 {
    text-align: left; 
    margin-top: 0px; 
    font-size: 3vw; 
}

/* number 2 section */
 
.number2 {
    grid-column: 1/4; 
}

.number2Left {
    max-width: 100%; 
    border-right: 2px solid black; 
    border-top: 2px solid black; 
    grid-column: 1/3; 
    grid-row: 2/3; 
    padding-bottom: 20vmin; 
    box-sizing: border-box; 
}

.subheading {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 2.4vw; 
    margin-left: 30px;
}

#subheading2 {
    margin-top: 10vh; 
}

.number2Right {
    max-width: 100%;
    width: 100%; 
    grid-column: 3/4; 
    grid-row: 2/3; 
    padding-bottom: 20vmin; 
    position: relative;
    box-sizing: border-box;
}

/* reversed circle lines */

.circle2 {
    border-radius: 50%; 
    width: 1vw; 
    margin-left: 22vw; 
    margin-top: -0.6vw; 
    aspect-ratio: 1/1; 
    border: 1.8px solid #000000;
    box-sizing: border-box;
}

.line2 {
    height: 0px; 
    border-top: 1.8px solid #000000;
    width: 22vw; 
    margin-top: 0vw; 
    margin-left: 0vw; 
}

.lines1 {
    margin-left: 0px; 
    padding: 0px; 
    position: absolute;
    bottom: 20vh; 
}

.number2Right p {
    font-size: 1.5vw; 
    font-family: 'Quicksand', sans-serif;
    padding-left: 1vw;  
}

.image {
    margin-left: 30px;
    width: 80%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.274), 0 6px 20px 0 rgba(0, 0, 0, 0.269);
}

/* number 3 section */

.number3Left {
    grid-row: 3/4;
    grid-column: 1/2; 
    width: 100%; 
    position: relative; 
    padding-bottom: 20vh; 
}

.number3Right {
    grid-row: 3/4;
    grid-column: 2/4;
    width: 100%; 
    border-left: 2px solid black; 
    padding-bottom: 20vh; 
}

#numberBox3 {
    width: 100%; 
    margin: 0; 
    margin-bottom: 20vh; 
    margin-top: 10vh; 
}

#numberBox3 p{
    text-align: right; 
}

#numberBox3 h3{
    text-align: right; 
}

#subheading3 {
    text-align: right; 
    padding: 0px;
    padding-left: 15%;  
}

#image3 {
    margin-left: 20%;  
}

#borderLeft {
    width: 49.7%;
    border-top: 2px solid black; 
}

.number3Left p {
    font-size: 1.6vw; 
    font-family: 'Quicksand', sans-serif;
    padding-left: 1vw;  
}

.lines2 {
    text-align: right; 
    position: absolute; 
    right: 0; 
    bottom: 20vh; 
}

.lines2 .circle {
   margin-top: -0.5vw; 
}

.lines2 p {
    padding-right: 1vw; 
}

/* number 4 section */

.section4 {
    grid-column: 1/4; 
    grid-row: 4/5; 
    padding: 5vw; 
    padding-left: 15vw; 
    padding-bottom: 10vw; 
    border-left: 2px solid black; 
}

.border2 {
    border-top: 2px solid black;
    width: 46%;
    margin-left: -15vw; 
    margin-top: -5vw;  
}

#subheading4 {
    width: 40vw;
}

#image4 {
    width: 40vw; 
}


/* section 5 */

.section5 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    min-height: 50vw; 
    box-sizing: border-box; 
    padding-left: 12.5vw; 
    padding-right: 12.5vw; 
    position: relative; 
}

/* advisor grid */

.advisors {
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    grid-template-rows: 15vw 15vw; 
    grid-gap: 2vw; 
    width: 50vw;
    position: absolute; 
    left: 35vw;
    top: 15vh;   
}

.box {
    width: 15vw; 
    max-width: 15vw;
    width: 100%; 
    position: relative; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.274), 0 6px 20px 0 rgba(0, 0, 0, 0.269);
}

.box:hover {
    cursor: pointer; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.68), 0 6px 20px 0 rgba(0, 0, 0, 0.662);
}

.box img {
    max-width: 100%; 
    width: 100%;
}

.names {
    background: rgb(212,27,0);
    background: linear-gradient(90deg, rgba(212, 28, 0, 0.852) 0%, rgba(255, 185, 45, 0.84) 100%);
    padding: 0.6vw; 
    width: 85%; 
    border-radius: 0 2vw 0 0; 
    color: white; 
    font-family: 'Quicksand', sans-serif; 
    font-size: 1.2vw; 
}

.names p {
    padding: 0; 
    margin: 0; 
}

#box1 .names {
    position: absolute;
    bottom: 0; 
}

#box2 .names {
    position: absolute;
    bottom: 0; 
}

#box3 .names {
    position: absolute;
    bottom: 0; 
}

#box4 .names {
    position: absolute;
    bottom: 0; 
}

#box5 .names {
    position: absolute;
    bottom: 0; 
}

/* advisor popup boxes */

.overlay {
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100vw;
    height: 100vh; 
    background-color: rgba(255, 255, 255, 0.888);
    z-index: 100;  
    display: none;  
}

.overlayContent {
    width: 80vw;
    margin: auto; 
    background-color: rgb(255, 255, 255); 
    min-height: 70vh;
    margin-top: 15vh; 
    position: relative; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.274), 0 6px 20px 0 rgba(0, 0, 0, 0.269);
    box-sizing: border-box; 
    border-radius: 1vw 1vw 1vw 1vw; 
}

.overlay .box { 
    width: 50vh;
    max-width: 50vh; 
    height: 50vh; 
    position: absolute;
    top: 10vh; 
    left: 10vh; 
}

.overlay .box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.274), 0 6px 20px 0 rgba(0, 0, 0, 0.269);
    cursor: auto; 
}

.overlay .box .names {
    font-size: 1.9vw;
    padding: 1vw;  
}

.text {
    position: relative;
    margin-left: 70vh; 
    padding: 3vw; 
    padding-bottom: 1vw; 
    padding-top: 10vh; 
    padding-left: 0;  
    font-family: 'Quicksand', sans-serif; 
    font-size: 1vw; 
}

.exit {
    position: absolute; 
    top: 2vw;
    right: 2vw; 
    font-size: 2vw; 
    padding: 0; 
    margin: 0;  
}

.exit:hover {
    cursor: pointer; 
}

/* section 6 */

.section6 { 
    height: 75vh;
    position: relative; 
}

.contactButton {
    border: 2px solid black; 
    position: relative; 
    margin:auto; 
    padding: 1vw;
    padding-right: 3vw; 
    padding-left: 3vw;  
    width: 25vw;  
}

.contactButton h2 {
    margin: 0px; 
    font-size: 2.5vw; 
    color: black; 
}

.contactButton h2:hover {
    color: #fe7a00;
    font-weight: 700;   
}

.contactLogo {
    width: 5vw; 
    margin-left: 55vw; 
}

.contact {
    margin-top: 25vh; 
}

.footer {
    position: absolute;
    width: 100vw; 
    bottom: 0; 
    left: 0; 
    height: 15vh; 
    background-color: rgb(255, 255, 255); 
    font-family: 'Quicksand', sans-serif; 
    text-align: center; 
    font-size: 1.6vw; 
    vertical-align: center;  
}


.locations {
    display: inline;
    vertical-align: middle;   
}

.linked {
    display: inline; 
    vertical-align: middle; 
    padding-left: 3vw; 
    padding-right: 1vw; 
}

.linkedin {
    width: 4vw;
    display: inline; 
}

.linkedin:hover {
    filter:drop-shadow(0px 0px 5px rgba(23, 97, 188, 0.374)); 
}

.footNav {
    display: inline; 
}

.footNav a {
    color: black;
    font-weight: 500;
}

.footNav a:hover {
    color: #fe7a00;
    font-weight: 700;  
}